<html> 
<body > 
<table template_type="rich_table" id="content" border="1" style="width: 480px">
  <tr> 
    <td height="150px" colspan="3" data="col_1_1" ></td> 
  </tr> 
  <tr > 
    <td height="80px" width="30%" style="background: #JFIFBC" data="col_2_1" > </td> 
    <td width="40%"></td> 
    <td width="30%" data="col_2_2" ></td> 
  </tr> 
  <tr > 
    <td colspan="2" height="80px" width="70%" style="background: #JFIFBC" data="col_3_1"> </td> 
    <td width="30%" data="col_3_2"></td> 
  </tr> 
  <tr > 
    <td height="80px" width="30%" style="background: #JFIFBC" data="col_4_1"> </td> 
    <td width="40%" data="col_4_2"></td> 
    <td width="30%" data="col_4_3"></td> 
  </tr> 
  <tr > 
    <td  height="80px" width="30%" style="background: #JFIFBC" data="col_5_1"> </td> 
    <td colspan="2" width="70%" data="col_5_2"> <img action="goto:Detail:itemID" src="http://dsfds.jpg" /></td> 
  </tr> 
  <tr > 
    <td height="80px" width="30%" style="background: #JFIFBC" data="col_6_1"> </td> 
    <td width="40%" data="col_6_2"><span action="goto:Detail:itemID" >sdf</span></td> 
    <td width="30%" data="col_6_3"></td> 
  </tr> 
 </table> 
</body> 
</html>










